<h1>Editing task_status</h1>

<% form_for(@task_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task_list %><br />
    <%= f.text_field :task_list %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @task_status %> |
<%= link_to 'Back', task_statuses_path %>