<h1>New task_list</h1>

<% form_for :task_list, :url => user_task_lists_path(@user), :html => {:method => :post} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_task_lists_path(@user) %>