<p><b>Task List: <%= @task_list.name %> Assigned To User: <%= @user.name%></b></p>
<div class="tableBox">
  <div class="titleHeader">
    <div class="left"></div>
    <div class="middle"><h3 class="table_title"><em>Tasks</em></h3></div>
    <div class="right"></div>
  </div>
  <div class="bottom">
    <table class="tableList" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td>Title</td>
		  <td>Description</td>
		  <td>Due Date</td>
		  <td>Status</td>
		  <td>Comments</td>
        </tr>
      </thead>
      <% if @tasks and @tasks.size != 0 %>
	    <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.title, task_list_task_path(:task_list_id => @task_list.id, :id => task.id) %></td>
		    <td><%= task.description %></td>
		    <td><%= task.due_date%></td>
			<td>
			  <% if task_status?(@user.id,task.id) %>
			    Done
			  <% else %>
			    <input class="check" type="checkbox" id="<%= task.id %>" value="<%= task.id %>" onclick="javascript:taskCompleted('<%= @user.id %>','<%= task.id %>','<%= @task_list.id %>')" />
			  <% end %>
			</td>
			<td><%= comments(@user.id, task.id, task.due_date)%></td>
          </tr>
	    <% end %>
	  <% else %>
	    <tr><td>No Tasks</td></tr>
	  <% end %>
    </table>
  </div>
<br/>
  <%= link_to "Back", user_path(@user)%>
</div>
